body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #fff;
}

h2 {
    font-size: 26px;
    margin: 10px 0 20px;
}

.page {
    padding-top: 56px;
}

.badge-light{
    margin-left: 4px;
    background-color: #f8f9fa8f;
}
.badge-light:hover{
    background-color: #f8f9fadb;
}
/* cart */
.cart-body {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    min-height: 100vh;   

}
#boxes {
    background-color: white;
    margin-bottom: 30px;
}

.cart-table .cart-item {
    padding: 15px 15px 0 15px;
    background: #eee;
    border-radius: 6px;
    margin-bottom: 5px;
}

.cart-table .cart-item img {
    width: 150px;
}

.total-box {
    border-radius: 6px;
}

.input-danger {
    border-color: red;
    color: red;
    box-shadow: 0px 0px 10px -3px #ff4040;
}

.btn btn-success {
    box-align: center;
}

.btn btn-danger {
    position: relative;
    right: 50px;
    padding: -2px;
    margin: 50px;
}

.pic-cart {
    height: 150px;
    width: 120px;
    background-position: center;
    background-size: cover;
}

.price-cart {
    padding-left: 450px;
    font-size: 20px;
    color: #8C0000;
    
}

#remove-btn {
    font-size: 20px;
    border-color: none !important;
    color: black !important;
    background-color: none !important;
}

.color-round {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 9px;
    margin-top: 8px;
    color: white;
    font-size: 13px;
    text-align: center;
    padding-top: 3px;
}

#cart-background {
    background-color: #eaeaea;
    padding-top: 80px;
    
}
.count-txt{
    padding-top: 15px;
    font-weight: 100;
    color: rgb(56, 56, 56);
}
.descr-txt{
font-size: 14px;
line-height: 0px; 
}
.empty-cart-text{
    position: absolute;
    top: 60px;
    left: 60%;
    bottom: 0;
    right: 0;
    font-size: 20px;
}
.all-items-text {
    position: absolute;
    top: 66px;
    left: 45%;
    bottom: 0;
    right: 0;
    font-size: 26px;
}
.blockfar {
    padding-left: 40px;
    margin-right:auto; 
    padding-left:20px
}
/* end cart */

/* section hero */
.hero {
    background-image: url(https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.heroText {
    color: #fff;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    background-size: 5vh;
    padding-top: 8vh;
    position: absolute;
    overflow: auto;
    top: 25vh;
    left: 0;
    bottom: 45vh;
    right: 0;
}

@keyframes pulse {
    0% {
        font-size: 50px;
    }

    50% {
        font-size: 60px;
    }

    100% {
        font-size: 50px;
    }
}

#arrow-down {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


/* end section hero */

/* section credo */

.credo figure {
    margin-top: 80px;
    width: 300px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.credo figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.credo figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.credo figure figcaption::before,
.credo figure figcaption::after {
    pointer-events: none;
}

.credo figure figcaption,
.credo figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.credo figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.credo figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.credo figure h2 span {
    font-weight: 800;
}

.credo figure h2,
.credo figure p {
    margin: 0;
}

.credo figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

figure.effect-lily figcaption {
    text-align: left;
}

figure.effect-lily figcaption>div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-lily h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-lily p {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
    opacity: 1;
}

figure.effect-lily:hover img {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-lily:hover h2,
figure.effect-lily:hover p {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}

figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

.credo-text {
    margin-top: 20vh;
    margin-left: 0 auto;
}

/* end section credo */

/* sales section */
.sales {
    position: relative;
    margin-bottom: 50px;
}

.sales hr {
    width: 150px;
    margin-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 1);
}

.sales .title {
    font-size: 60px;
    color: black;
    padding-top: 10px;
    margin: 10px 0 5px;
    text-align: center;
}

.carousel {
    margin-top: 40px;
}

.imgSales {
    display: inline-block;
    position: relative;
    width: 25%;
    padding: 15px;
}

.carouselImg {
    width: 100%;
    padding-top: 100%;
    background-image: url(https://images.pexels.com/photos/914668/pexels-photo-914668.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center;
    background-size: cover;
    position: relative;
}

.productName {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
}

.productPrice {
    padding-top: -20px;
}

.blockInSalesPic {
    background: white;
    position: absolute;
    left: 15px;
    bottom: 80%;
    right: 100px;
    padding-left: 8px;
    font-weight: 600;
}
#btn-in-sales{
    opacity: .85;    
    height: 30px;
    width: 30px;
    background: white;
    border-color: none;
}
#btn-in-sales:hover{
    opacity:1;
    background: rgb(0, 0, 0, 0.5);
}
#shoppin-cart-icon{
    position: absolute;
    bottom: 3px;
    left: 163px;
    color: black;
}
.button-in-sales-pic{
    position: absolute;
    left: 15px;
    bottom: 40%;
    right: 0;
    padding-left: 160px;
    font-weight: 600;
}

.carouselImg-shirt {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.carouselImg-shirt .primary-img,
.secondary-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carouselImg-shirt .primary-img {
    opacity: 1;
    /* background-image:  */
    background-position: center;
    background-size: cover;
}

.carouselImg-shirt .secondary-img {
    opacity: 0;
    /* background-image:  */
    background-position: center;
    background-size: cover;
    transition: opacity .7s ease-out;
}

.carouselImg-shirt .primary-img:hover {
    opacity: 0;
    transition: opacity .4s ease-out;
}

.carouselImg-shirt .secondary-img:hover {
    opacity: 1;
    transition: opacity .4s ease-out;
}

/* end sales section */

/* footer */

  
footer {
    background: black;
    margin-top: 80px;
    width: 100%;
    padding-top: 15px;
    color: white;
    /* padding-bottom: 40px; */
    
    bottom: 0;
    width: 100%;
}

#footer-cart {
    margin: auto auto 0 auto;
}

footer li {
    margin: 7px;
}

footer .list {
    list-style: none;
    margin: 7px;

}

footer .phone-number {
    margin-left: 40px;
}

/* end footer */


/* product */
.carousel-product {
    padding-top: 20%;
    margin-bottom: 80px;
}

.initProductCarouselMain .pic {
    height: 500px;
    background-position: center;
    background-size: cover;
    /* box-shadow: 2px 2px 60px 0px rgba(0, 0, 0, 0.22); */
    width: 100% !important;
}

.initProductCarouselMain .slick-slide .draggable {
    overflow: visible;
}

.initProductCarouselDown .slick-slide {
    margin: 10px;
}

.initProductCarouselDown .slick-arrow::before {
    color: #343a40;
}

.initProductCarouselDown .pic {
    display: inline-block;
    position: relative;
    height: 100px;
    background-position: center;
    background-size: cover;
}

.quantity .quantity-input {
    width: 40%;
    height: 40px;
    text-align: center;
    padding: 7px 30px;
}

.quantity .quantity-input {
    border: 1px solid #2a5843;
}

input.quantity-input {
    background-color: transparent !important;
    color: var(--color_text);
}

#right-col {
    padding-top: 73px;
    margin-left: 50px;
    width: 65%;
    padding-right: 150px;
}

.name {
    font-size: 40px;
    font-weight: 700;
}

.discription {
    font-size: 18px;
    font-weight: 80;
    padding-bottom: 15px;
}

#size,
#color {
    padding-right: 25px;
    padding-bottom: 15px;
}

#size {
    padding-left: 15px;
}

#counter {
    width: 120px;
}

.btn #minus {
    border-radius: 0px !important;
}

.price {
    font-size: 28px;
    text-align: right;
    padding-right: 0;
}

.buy {
    padding-top: 35px;
    
}

#buy-button {
    width: 150px;    
}
.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: black;
    border-color: black;
    opacity: .45;
    transition: opacity 0.2s linear, right 0.3s ease-out
}
#carousel-block{
    padding-left: 70px;
}
#color-wrap{
    padding-top: 40px;
    padding-left: 8px;
}
/* pink radio buttons */
/* .size-radio-btn:checked,
.size-radio-btn:not(:checked) {
    position: absolute;
    left: -9999px;
}

.size-radio-btn:checked+label,
.size-radio-btn:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.size-radio-btn:checked+label:before,
.size-radio-btn:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.size-radio-btn:checked+label:after,
.size-radio-btn:not(:checked)+label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #f87da9;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.size-radio-btn:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.size-radio-btn:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
} */
input.size-radio-btn {
    display:none; 
    margin:10px;
}
input.size-radio-btn + label {
    display:inline-block;
    text-align: center;
    padding: 4px 12px;
   
    border-color: #ddd;
    width: calc(100%/ 3);
    height: 30px;
    border: 1px solid darkgray;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input.size-radio-btn:checked + label { 
   background-image: none;
   border: 2px solid #343a40;
}

/* end pink radio buttons */

/* colored radio buttons */
.form-radio {
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    color: #fff;
    top: 3px;
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 15px;
    outline: none;
    margin-bottom: 20px;
}

.form-radio:checked::before {
    position: absolute;
    font: 19px/1 'Open Sans', sans-serif;
    left: 15px;
    top: 10px;
    content: '\02143';
    transform: rotate(40deg);
}

.form-radio:hover {
    opacity: 0.7;
}

.form-radio label {
    font: 15px/1.7 'Open Sans', sans-serif;
    color: rgb(94, 81, 81);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: white;
    border-color: #343a40;
    border-right: 0px;
    border-left: 0px;
}

/* end colored radio buttons */
.form-control {
    text-align: center;
}

.btn-outline-dark.focus .btn-outline-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}

/* end product */

/* Modal */
.come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.come-from-modal.left .modal-content,
.come-from-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.come-from-modal.left .modal-body,
.come-from-modal.right .modal-body {
    padding: 15px 15px 80px;
}
.come-from-modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}


/* end Modal */