<script type="text/html" id="footer">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4" class="shop-name">
                    <h2>OnlineShop</h2>
                </div>                    
                <div class="col-sm-4" class="details">
                    <ul class="list">
                        <li>Подробнее о нас</li>
                        <li>Контакты</li>
                        <li>Вакансии</li>
                        <li>Инвесторам</li>
                        <li>Подарочные сертификаты</li>
                    </ul>
                </div>
                <div class="col-sm-4" class="phone-number">
                    <h2> +7 (496) 676-98-03</h2>
                </div>
            </div>
        </div>
    </footer>    
</script>