<script type="text/html" id="header">
    <header>    
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="color: #0a0a0a">
            <a class="navbar-brand" href="index.html">NoAsos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ссылки</a>
                    </li>
                    <li class="nav-item">                                            
                        <a class="nav-link" href="cart.html">Корзина<span class="badge badge-light" data-bind='visible: m_cart.cartList().length > 0, text: m_cart.cartList().length' ></span></a>                          
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" 
                            type="text" 
                            placeholder="Поиск" 
                            aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Поиск
                    </button>
                </form>
            </div>
        </nav>   
    </header>
</script>